<div class="page-header">
  <h1>Alphabetical List</h1>
</div>

<%= link_to "Add a New Guideline", new_guideline_path, class: "btn btn-success" %>


<% @list.each do |title| %>

<div class="guidelinerow">
	<div class="row">
		
		<div class="span8">	
			<div class="guideline">
			  
			 <strong><%= link_to title, :action => :topic, :title => title %></strong>
		

				  

				
			</div> 
		</div>
	</div>
</div>
<% end %>