<div class="page-header">
  <h1>Hospitals List</h1>
</div>

<%= link_to "Add a New Guideline", new_guideline_path, class: "btn btn-success btn-large" %>


	<table class="table table-striped table-hover">
			
		<% @list.each do |hospital| %>

		<tr class="tablerow">
			<td><%= link_to hospital, :action => :topichospital, :hospital => hospital %></td>
		</tr>

	
		
		
		
		
	

<% end %>