
<table class="table table-bordered">					 
<p>
	
	<%= comment.body %>
<i>
	(By <%= comment.commenter.full_name %> on <%= comment.created_at.strftime("%d %b %Y") %>)</i>


  <%= link_to 'Delete', [comment.guideline, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>

</table>