<h1>About Us</h1>
</br></br>
<p>Guidelines was created by Tessa Davis, a paediatric doctor from the UK who is now living in Sydney.  It was created to make looking for online guidelines much easier - having all the links in the one place</P>

<p>Our lovely features include</p>
<ul>
	<li>View guidelines listed by hospital</li>
	<li>View guidelines listed by topic</li>
	<li>Add your own guideline links</li>
	<li>Create your own list of favourites</li>

</ul>

<p>Please contact us if you spot any errors, have any suggestions, or just fancy a chat - tessadavis@</p>