<h1>About Us</h1>
</br></br>
<p align="center"><strong >Guidelines For Me was created by Tessa Davis, a paediatric doctor from the UK who is now living in Sydney.  It was developed to make looking for online guidelines much easier by having <h3 align="center">all the links in the one place</h3><p align="center"> and </p><h3 align="center">a list of your favourite guidelines</h3></strong></h2>



<p align="center"><strong>Please contact us if you spot any errors, have any suggestions, or just fancy a chat - tessadavis@iclinicalapps.com</p></strong>