// Place all the styles related to the guidelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.guideline p {
	
	margin: 4px 0;
}

.tablerow.hover{
	
	background: lighten(rgb(69, 81, 95),10%);
}

.guidelinerow.hover{
	
	background: lighten(#2a333c, 10%);
}
.guideline .admin{
	display: none;
}

.guidelinerow.hover .admin{
	display: inline;
}

.guidelinerow {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.line{border-bottom: solid 1px #CCC; padding: 5px 0;}
.formcustom input,
textarea,
.uneditable-input {
  width: 400px;
}

