// Place all the styles related to the guidelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guideline {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.guideline p {
	
	margin: 4px 0;
}

.guideline.hover{
	
	background: #FAFAFA;
}
.guideline .admin{
	display: none;
}

.guideline.hover .admin{
	display: inline;
}