<h1>Activities</h1>

<% @activities.each do |activity| %>
	<div class="activity">
		<%= activity.owner.profile_name rescue 'System' %> added guidelines to <%= link_to activity.trackable.title, activity.trackable %>
	</div>
<% end %>


